$breakpoint-tablet: 426px;

@mixin desktop {
  @media only screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin centerElement {
  display: flex;
  align-items: center;
  justify-content: center;
}
