$brown: #73473d;
$dark: rgba(0, 0, 0, 0.5);
$details-color: #f2a488;
$primary-color: #F0F0F3;
$red-animation-transition:rgba(239, 21, 21, 0.3) ;
$red-animation: rgba(239, 21, 21, 0.6);
$red-primary: rgb(239, 21, 21);
$secondary-color: #858C69;
$shadow-color: rgba(174, 174, 192, 0.2);
