$primary-color: #F0F0F3;
$secondary-color: #858C69;
$details-color: #f2a488;
$shadow-color: rgba(174, 174, 192, 0.2);

$red-primary: red;
$red-animation: rgba(255, 0, 0, 0.6);
$red-animation-transition:rgba(255, 0, 0, 0.3) ;

