$brown: #73473d;
$dark: rgba(0, 0, 0, 0.5);
$details-color: #f2a488;
$primary-color: #212121;
$red-animation-transition:rgba(239, 21, 21, 0.3) ;
$red-animation: rgba(239, 21, 21, 0.6);
$red-primary: rgb(239, 21, 21);
$secondary-color: #FF9C66;
$shadow-color: rgba(36, 36, 36, 0.2);
$dark-card: rgba(0, 0, 0, 0.8);
$twitch: #944df7;
$icons-color:#FF8847;

$background-color: #212121
