.header {
  @include centerElement;
  background-color: $primary-color;
  box-shadow: inset -8px -8px 8px 0 $shadow-color, inset 8px 8px 8px 0 $shadow-color;
  width: 100%;
  z-index: 999;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 20px;
    width: 100%;
    z-index: 1;

    & div:nth-child(1) {
      display: flex;
      align-items: center;
      
      & > button {
        margin: 0;
        margin-left: auto;
  
        @include desktop {
          display: none;
        }
      }
    }

    @include desktop {
      flex-direction: row;
      //height: 80px;
      justify-content: space-beween;
      margin-left: auto;
      margin-right: auto;
      max-width: 1400px;
      width: 100%;
    }

    &-social{
      display: none;
      margin-left: auto;

      @include desktop {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0.5rem;
    position: relative;
    height: 50px;

    &__animation {
      &:before {
        content: "";
        border: 1px solid $red-primary;
        position: absolute;
        background-color: $red-animation;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        animation: live 3s ease-in-out infinite;
        z-index: -1;
      }
    }
  }

  .logo { 
    height: 100%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}
