.sidebar {
  overflow-y: hidden;
  display: flex;

  & > div:nth-child(1) {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    left: -100%;
    min-height: 100%;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: all 0.5s ease;
    width: 70%;
    z-index: 1000;
  }

  .sidebar__hidden {
    left: 0 !important;
  }

  &__background {
    background-color: $dark;
    overflow: hidden;
    height: 120%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  &__options {
    display: flex;
    flex-direction: column;
    margin-top: 30%;

    & ul {
      padding: 0;
      margin-left: 2rem;
      font-weight: 700;
      color: $secondary-color;

    }

    & li {
      margin-top: 2.2rem;
      list-style: none;
      cursor: pointer;
      font-size: 1.2rem;

      &:hover {
        color: $details-color;
      }
    }

    & > div {
      display: flex;
      background-color: $brown;
      justify-content: center;

      & > a {
        margin: 1rem;
        color: $secondary-color;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;

    & ul {
      padding: 0;
    }

    & li {
      margin-top: 2.2rem;
      list-style: none;
    }

    & > div {
      display: flex;
      background-color: $brown;
      justify-content: center;

      & > a {
        margin: 1rem;
        color: $secondary-color;
      }
    }
  }
}
